body {
  background: #f0f0f0;
  // default HtmlWebpackPlugin tempalte has 8px margin
  margin: 0px;
}

// below should be dynamically included with the bookshelf
// component
.ais-search-box input {
  min-width: 175px;
  min-height: 25px;
}

.ais-hits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ais-hits--item {
  height: 200px;
  width: 200px;
  margin: 3px;
  background-color: #9D414C;
}
